<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.edcan.cumchuck">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.ApplicationLauncher"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6c81b4e91b018f9f82dce750f7f07b9723039bb2" />

        <activity android:name=".activity.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.FavoriteViewActivity" />
        <activity
            android:name=".activity.RankingShowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.RankingDetailViewActivity" />
        <activity
            android:name=".activity.RankingDetailPopupViewActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".activity.RaidGenerateActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RaidGenerateInputActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.RecommendActivity" />
        <activity android:name=".activity.RaidFromFriendActivity" />
        <activity android:name=".activity.MyReviewActivity" />
        <activity android:name=".activity.MyReviewDetailViewActivity" />
        <activity android:name=".activity.PostReviewActivity" />
        <activity android:name=".activity.RunningRaidActivity" />
        <activity android:name=".activity.NetworkErrorActivity" />
        <activity android:name=".activity.TutorialActivity" />
        <activity
            android:name=".activity.LoadingActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".activity.RaidInfoShowActivity"></activity>
    </application>

</manifest>